# Führe das Skript täglich um 3 Uhr morgens aus.

# Wichtig: Wir müssen den vollen Pfad zu node und zum Skript angeben.

# Wir leiten auch die Ausgabe (stdout & stderr) in den Docker-Log-Stream um.

\* \* \* \* \* /usr/local/bin/node /usr/src/app/run.js >> /proc/1/fd/1 2>>/proc/1/fd/2

# Leerzeile am Ende ist wichtig für Cron
